$color-primary: #C76B28;
$color-secondary: #4C1A03;
$color-pale: #C2B171;
$color-mid: #7E754C;
$color-dark: #7E4A57;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$body-font: "Open Sans",
sans-serif;
$header-font: "Lobster",
cursive;
body {
    font-family: $body-font;
}

h1,
h2,
h3 {
    font-family: $header-font;
}

h1 {
    color: $color-pale;
}

h2 {
    color: $color-primary;
}

header {
    h2 {
        color: $color-primary;
    }
}

.site-footer {
    background-color: $color-mid;
    color: white;
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: white;
    color: white;
    img {
        margin-top: -30px;
    }
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

.navbar {
    background-color: $color-dark;
}

.coffee-img,
.donuts-img {
    height: 300px;
    width: 300px;
    max-width: 100%;
    height: auto;
}

.social {
    display: inline-block;
}

.btn-instagram,
.btn-facebook {
    color: white;
    padding-left: 8px;
    padding-top: 0;
}

.btn-facebook {
    margin-left: -10px;
}

.phoneNum {
    color: white;
    text-decoration: none;
}

.phoneNum:hover {
    color: $color-secondary;
    text-decoration: none;
}

.phoneNumDark {
    color: $color-secondary;
    text-decoration: none;
}

.phoneNumDark:hover {
    color: $color-pale;
    text-decoration: none;
}

.card-columns {
    column-count: 3;
}

.submit-btn {
    background-color: $color-pale;
    border-color: $color-pale;
}

.submit-btn:hover {
    background-color: $color-mid;
    border-color: $color-mid;
}